body {
    margin: 0;
    font-family: sans-serif;
}

#top_menu {
    padding: 0 10px;
}

#top_menu:hover{
    background-color: red;
}

.menu_draw {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#logo {
    padding: 0 10px;
}

#nav_container {
    height: 55px;
    background-color: gray;    
}

#content { 
    padding: 20px;
}