/* Lista */

#list {
    list-style: none;
    display: inline;
    
}

/*#list table {
    padding: initial;
}*/

#list ul li{
    display: inline;
}

.entire_section {
    margin: 30px 30px 30px 30px;
    padding-right: 30px;
    display: block;
}

.checkbox {
    margin-right: 10px;
}

#movie_name {
    font-weight: bold;
    font-size: 22px;
}

.identification {
    color: silver;
    font-size: 12px;
    font-family: monospace;
}

#wanted {
    font-weight: bold;
    color: green;
    padding-right: 0 10px;
}

.movie_specs {
    color:gray;
    padding: 0 10px;
}

.div_presentation {
    
    margin: 30px;
}

.div_presentation p:first-child {
    all: unset;
    font-size: 28px;
}



