body {
    font-family: sans-serif;
}

#menu {
    background-color: gray;
}

#menu a {
    padding: 20px 80px;
}

#menu a:hover {
    background-color: silver;
}

#header {
    margin: 20px;
}

#botao {
    height: 50px;
    width: 150px;
}