body {
    font-family: sans-serif;
    background-color: white;
}

p {
    padding: 0;
    margin: 0;
}

/* Menu */

#menu {
    background-color: black;
}

#menu a {    
    text-decoration: unset;
    font-size: 24px;
    padding: 20px 70px;
}

#header {
    margin: 15px ;
}

#list {
    margin: 0 15px 15px 15px;
    border: 1px solid silver;
    border-radius: 4px;
    flex-grow: 1;
}

.botao {
    background-color: black;    
    color: white;
    cursor:pointer;
    border: unset;
    padding: 0;
}

.botao:hover {
    background-color: brown;
    box-sizing:border-box;
    
}

#header button {
    font-family: Arial;
    font-size: 40px;
    border-radius: 4px;
    height: 50px;
    width: 150px; 
    
}


