* {
    margin: 0;
    padding: 0; 
    list-style: none;
    font-family: "Segoe UI";
}

#body {
    display: flex;
    flex-direction: column;
}

/* 
    #navigator 
*/

#navigator {   
    display:flex;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    text-align: center;
    max-width: 1080px;
    margin: auto;
    
}

#navigator li {
    padding: 20px 30px;
}

#navigator li:first-child {
    text-align: left;
}

#navigator li:hover:not(#navigator li:nth-child(1)){
    background-color:rgb(27, 27, 27);
}

#navigator li:nth-child(1) {
    flex-grow: 1;
}

/*
    #cover_img
*/

#cover_img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA_UElQzxuVFT63CPbr8kJv1fwLq_XpVsGnQ&usqp=CAU);
    background-size: cover;
    height: 250px;
    max-width: 1080px;
    margin: auto;    
}

/*
    text
*/

#container{
    /*max-width: 1080px;*/
    /*margin: auto;*/
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}

#main_text {
    padding: 20px 40px;
    flex-grow: 1;

}

#lateral {
    margin: 20px 0;
    padding: 20px 40px;
    width: 120px;
    background-color: rgb(15, 89, 160);
}

#footer {
    background-color: gray;
    display: flex;
    flex-grow: 1;

}









